body {
  background-color: #051923;
}

.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 24px;
  font-family: "Sono", monospace;
}

.grid-section {
  padding: 24px 0;
}

.page-title {
  text-align: center;
  padding-bottom: 25px;
  font-family: "Monoton", sans-serif;
  font-size: 2.5rem;
  line-height: 1.6;
  margin-bottom: 0;
}

.page-subtitle {
  font-family: "Sono", monospace;
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;
  font-size: 1.2rem;
  margin-top: 0;
}

.section-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 16px;
  padding: 25px;
  font-family: "Sono", monospace;
}

.description {
  margin: 20px auto;
  font-size: 1rem;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  justify-items: center;
}

.grid-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 200px;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px;
  text-shadow: 
    1px 1px blue,
    -1px -1px red;
  transition: background-color 0.2s;
}

.grid-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  animation: glow 2s ease-in-out infinite;
}

.section-divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0;
}

iframe {
  border-radius: 5px;
}

@media (max-width: 768px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-button {
    margin: 15px;
  }

  .description {
    text-align: justify;
  }
}
